.header {
  padding-left: 8em;
  padding-right: 8em;
}

.header li{
  margin-right: 25px;
}

.logout:hover{
  cursor: pointer;
  background: gray;
}

.navR{
  font-size: 24px;
  font-weight: bold;
}

.userAvatar{
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}