.block{
    display: block;
}

.nav{
    display: flex;
    width: 150px;
    flex-direction: column;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.nav:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.item a {
    display: block;
    height: 100%;
    color: #343a40;
    font-family: Tahoma, serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 43.06px;
    text-decoration: none;
}

.item:hover {
    background-image: linear-gradient(to right, #ffffff 0%, #6dffad 100%);
}

.active{
    background-image: linear-gradient(to right, #ffffff 0%, #6dffad 100%);
}
