html {
    background: white;
    font-family: Roboto, serif;
}

body {
    height: 100%;
    margin: 0;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}

.box .main {
    display: flex;
    flex: 1 1 auto;
    margin: 20px 200px;
    width: auto;
}

.main .content{
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    padding: 20px;
}

.main .content:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.box .footer {
    flex: 0 1 40px;
}


